.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
harold.json
david.json
test.json
netguard_20180225.pcap
netguard_database.db
abe.jar
dataset
new_data
old_generated_results
results10
results20
results20_keep_this
run1
run2
run3
tcl
pcapfix-1.1.1-win32